.popup#popup 
    nav.navigation.navigation--popup
        ul.navigation__list.navigation__list--popup
            each link, page in {'Мои работы': './works.html', 'Обо мне': 'about.html', 'Блог': 'blog.html', 'Авторизация':"#"}
                li.navigation__item.navigation__item--popup
                    a(href=link).navigation__link.navigation__link--popup=page