.hero__triangles
      
        svg(viewBox='0 0 1000 150' class=triangleLeft)
          polygon(points='0, 0 0, 150 1000, 150')
          
        
        svg(viewBox='0 0 1000 150' class=triangleRight)
          polygon(points='0, 150 1000, 150 1000, 0')