.user(class = userAbout)
    .user__pic(class = userPicWelcome)
        img(src="./assets/images/igor.jpg", alt="igor").user__pic-img
    //- .title.user__title(class = userTitleWelcome) Игорь Дермановский
    .user__name(class = userTitleWelcome) Игорь Дермановский
    .user__subtitle(class = userSubtitleWelcome) Личный сайт веб разработчика