.contacts {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 50px;
    background: rgba($beige, .8);
    @media (max-width: 991px) {
        padding: 30px;
    }
    @media (max-width:576px) {
        top: 0%;
        padding: 64px;
        transform: translate(-50%, 0);
     }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            width: 89px;
            height: 3px;
            background-color: $grey;
            content: "";
            // display: block;
            margin-top: 29px;
            margin-bottom: 30px;

        }
    }


    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        
    }
    &__item:last-child {
        margin-bottom: 0%;
    }
    &__pic {
        margin-right: 10px;
    }
    &__pic-icon {
        width: 24px;
        height: 24px;
        fill: $light-green;
        transition: fill .3s;
        &:hover {
            fill: $dark-green;
            transition: fill .3s;
        }
    }
    &__link {
        color: #373e42;
        transition: color .3s;
    }
    &__link:hover {
        color: $dark-green;
        transition: color .3s;
    }
    
}


  