.hamburger {
	position: absolute;
	top: 2%;
	right: 3%;
	// width: 45px;
	height: 44px;
	cursor: pointer;
}
.hamburger__menu,
.hamburger__menu:after,
.hamburger__menu:before {
    width: 44px;
	height: 5px;
}

.hamburger__menu {
	position: relative;
	transform: translateY(25px);
	background: $white;
	transition: all 0ms 300ms;
    border-radius: 5px;
	z-index: 100000;
  
  &.hamburger__menu--animated {
    background: rgba(255, 255, 255, 0); 
  }
}

.hamburger__menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 14px;
	background: $white;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.hamburger__menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: 14px;
	background: $white;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.hamburger__menu.hamburger__menu--animated:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu.hamburger__menu--animated:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

