.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 2;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 199px;
        background: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        flex-direction: column;
    }

    &__msg {
        color: red;
    }
}