.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($light-green, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height .5s;
    // display: none;
    &--active {
        // display: flex;
        height: 100vh;
        transition: height .5s;
        
    }
}